.dockerignore
docker-compose.yml
Dockerfile*
db.sqlite3
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.python-version
pip-log.txt
.cache
*.log
.git
*.sw*
*.sh
test/
.pytest_cache
.pipenv*
.DS_Store
.env
requirements-dev.txt
README.md