[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-env = "*"
pytest-flask-sqlalchemy = "*"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
flask-basicauth = "*"
flask-caching = "*"
python-binary-memcached = "*"
flask-sqlalchemy = "*"
pip = "*"
psycopg2-binary = "*"
flask-migrate = "*"
hashids = "*"
requests = "*"
gevent = "*"
fakeredis = "*"
redis = "*"
flask-cors = "*"
apscheduler = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "autopep8 --in-place --aggressive --aggressive --recursive --max-line-length 250 ."
