-i https://pypi.org/simple
aniso8601==8.0.0
apscheduler==3.6.3
certifi==2019.11.28
chardet==3.0.4
click==7.0
flask-basicauth==0.2.0
flask-cors==3.0.8
flask-restful==0.3.7
flask==1.1.1
gevent==1.4.0
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
gunicorn==20.0.4
hashids==1.2.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10.3
markupsafe==1.1.1
python-dotenv==0.10.3
pytz==2019.3
redis==3.3.11
requests==2.22.0
six==1.13.0
tzlocal==2.0.0
urllib3==1.25.7
werkzeug==0.16.0
